<%= stylesheet_link_tag 'https://unpkg.com/vue-material@beta/dist/theme/default.css' %>

<%= content_tag :div,
  id: "workout-form",
  data: {workout: workout.to_json(except: [:created_at, :updated_at])
  } do %>
  <form novalidate class="md-layout">
    <md-card class="md-layout-item md-size-50 md-small-size-100 m-auto">
      <md-card-header>
        <div class="md-title">Workout Log</div>
      </md-card-header>

      <md-card-content>
        <md-field>
          <label>Title</label>
          <md-input v-model="workout.title"></md-input>
        </md-field>

        <md-datepicker md-immediately="true" v-model="workout.date">
          <label>Select date</label>
        </md-datepicker>

        <div class="d-flex justify-content-between position-relative">
          <h2 class="m-auto-0">Exercises</h2>
          <md-button class="md-fab md-primary" v-on:click="addExercise">
            <md-icon>add</md-icon>
          </md-button>
        </div>
        <md-card class="md-layout-item md-size-100 md-small-size-100 p-3 m-5" v-for="(exercise, index) in workout.exercise_sets_attributes" :key="exercise.id">
          <md-field>
            <label>Name</label>
            <md-input v-model="exercise.name"></md-input>
          </md-field>

        <div class="d-flex justify-content-between position-relative">
          <h3 class="m-auto-0">Sets</h3>
          <md-button class="md-fab md-mini md-primary" v-on:click="addSet(exercise)">
            <md-icon>add</md-icon>
          </md-button>
        </div>
          <div class="d-flex justify-content-between position-relative" v-for="(rep_set, index) in exercise.rep_sets_attributes" :key="rep_set.id">
            <div class="md-layout-item p-3">
              <md-field>
                <label>Weight</label>
                <md-input type="number" v-model="rep_set.weight" />
              </md-field>
            </div>
            
            <div class="md-layout-item p-3">
              <md-field>
                <label>Reps</label>
                <md-input type="number" v-model="rep_set.reps" />
              </md-field>
            </div>

            <div class="md-layout-item text-center m-auto">
              <md-button class="md-fab md-mini md-alert" v-on:click="removeSet(exercise, index)">
                <md-icon>remove</md-icon>
              </md-button>
            </div>
          </div>
          
          <md-button class="md-raised md-accent" v-on:click="removeExercise(index)">Remove</md-button>
        </md-card>
        
        <div class="text-center">
          <md-button class="md-raised md-primary" v-on:click="save">Save</md-button>
        </div>
      </md-card-content>
    </md-card>
  </form>
<% end %>
