<div class="d-flex justify-content-between">
    <div class="p-2"><%= link_to '<i class="material-icons" style="font-size: 50px">arrow_back</i>'.html_safe, workouts_path, class: "text-secondary" %></div>
    <div class="p-2"><h1><%= locals[:title] %> </h1></div>
    <div class="p-2"></div>
</div>