<section class="hero">
    <div class="hero-inner">
        <h1>Workout Log</h1>
        <h2>Easy online tracking</h2>
        <%= link_to 'Get Started', new_user_registration_path, class: 'btn btn-success btn-lg' %>
    </div>
</section>